@use "../variables" as *;
@use "../mixins" as *;

.couple-photo {
    width: 100%;
    .content {
        width: 100%;
        @include flex-center;
        padding: 7% 0 18%;
        perspective: 1000px;
        .container-photo {
            width: 100%;
            max-width: 297px;
            aspect-ratio: 297 / 382;
            position: relative;
            @include flex-center;

            .main-photo {
                max-width: 199px;
                width: 100%;
                aspect-ratio: 199 / 286;
                background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/viet-ngan/couple/LS306522.webp') no-repeat 34% 100% / 281%;
                position: absolute;
                &.nha-trai {
                    background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/viet-ngan/couple/LS308864.webp') no-repeat 24% 100%/ 280%;
                }
            }

            .frame-03 {
                width: 100%;
                height: auto;
            }

            .overlay {
                position: absolute;
                bottom: 15%;
                left: 50%;
                transform: translateX(-50%);
                img {
                    max-width: 116px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }


    @media (max-width: 500px) {
        .content {
            .container-photo  {
                max-width: calc((297 / 500) * 100vw);
                .main-photo {
                    max-width: calc((199 / 500) * 100vw);
                }
                .overlay {
                    img {
                        max-width: calc((116 / 500) * 100vw);
                    }
                }
            }
        }
    }
}
