@use '../variables' as *;
@use '../mixins' as *;

.cover {
    .content {
        background: url('../../assets/images/bg/cover_bg.png') no-repeat center/cover;
        background-color: $primary-color;
        width: 100%;
        aspect-ratio: 500 / 822;
        @include flex-center;
        flex-direction: column;
        color: #fff;

        .names {
            font-family: $font-hero;
            font-size: 44px;
            letter-spacing: 1.4px;
            font-weight: 300;
        }

        .photo-frame {
            max-width: 210px;
            width: 100%;
            aspect-ratio: 210 / 300;
            perspective: 1000px;
            margin: 5% 0;
            position: relative;
            @include flex-center;
            .main-photo {
                max-width: 128px;
                width: 100%;
                border-radius: 50%;
                aspect-ratio: 121 / 162;
                background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/viet-ngan/couple/LS308506.webp') no-repeat 65% 100%/ 220%;
                position: absolute;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                &.nha-trai {
                    background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/viet-ngan/couple/LS306304.webp') no-repeat 2% 82%/ 110%;
                }
            }
           
            img.frame-01 {
                width: 100%;
                height: auto;
            }
        }

        .subtext {
            font-family: $font-hero;
            font-size: 24px;
            letter-spacing: 1.2px;
        }

        .divider {
            margin: 1% 0;
            perspective: 100px;
        }

        .divider .divider-icon {
            max-width: 80px;
            width: 100%;
            height: auto;
        }

        .divider img.bottom {
            transform: rotateX(180deg);
        }
    }

    @media (max-width: 500px) {
        .content {
            .names {
                font-size: calc((44 / 500) * 100vw);
                letter-spacing: calc((1.4 / 500) * 100vw);
            }

            .photo-frame {
                max-width: calc((210 / 500) * 100vw);
                .main-photo {
                    max-width: calc((128 / 500) * 100vw);
                }
            }
    
            .subtext {
                font-size: calc((24 / 500) * 100vw);
                letter-spacing: calc((1.2 / 500) * 100vw);
            }
    
            .divider .divider-icon {
                max-width: calc((80 / 500) * 100vw);
            }
        }
    }
}