@use "../variables" as *;
@use "../mixins" as *;

.intro {
    width: 100%;
    .content {
        background: url('../../assets/images/bg/background_intro.png') no-repeat center / 100%;
        width: 100%;
        max-width: 500px;
        aspect-ratio: 500 / 1800;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        .invitation {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            .logo {
                padding: 26% 0 2%;
                perspective: 500px;
                img {
                    max-width: 110px;
                    width: 100%;
                    height: auto;
                }
            }

            .family-info {
                padding-bottom: 4%;
                p {
                    line-height: 1.8;
                    text-transform: uppercase;
                }

                img {
                    width: 16px;
                    height: auto;
                }
            }

            .announcement {
                p {
                    line-height: 1.8;
                }
            }

            .couple-names {
                padding: 4% 0;

                h2 {
                    font-family: $font-hero;
                    font-size: 48px;
                    letter-spacing: 1.2px;
                    margin: 2% 0;
                    font-weight: 300;
                    &.nha-trai {
                        font-weight: bold;
                    }
                }

                .separator-text {
                    font-size: 45px;
                    font-family: $font-hero;
                    line-height: 1;
                }
            }

            .divider {
                width: 100%;
                padding: 6% 0 10%;
                perspective: 1000px;
                .divider-icon {
                    width: 60px;
                    height: auto;
                    object-fit: cover;
                }
            }

            .top-detail {
                padding: 4% 0;

                h2 {
                    font-size: 32px;
                    font-weight: 300;
                    &.nha-trai {
                        font-weight: bold;
                    }
                }

                .subtime {
                    font-size: 14px;
                }
            }

            .photo-area {
                margin-top: 4%;
                max-width: 238px;
                width: 100%;
                aspect-ratio: 237 / 320;
                border-radius: 50%;
                position: relative;
                .main-photo {
                    background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/viet-ngan/couple/LS308864.webp') no-repeat 22% 100% / 280%;
                    aspect-ratio: 192 / 277;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 192px;
                    width: 100%;
                    border-radius: 50%;
                    &.nha-trai {
                        background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/viet-ngan/couple/LS309004.webp') no-repeat 50% 100%/ 140%;
                        img.frame-02 {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .frame-02 {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .invitation {
                .logo {
                    img {
                        max-width: calc((110 / 500) * 100vw);
                    }
                }
                .family-info {
                    img {
                        width: calc((16 / 500) * 100vw);
                    }
                }
    
                .couple-names {
                    h2 {
                        font-size: calc((48 / 500) * 100vw);
                        letter-spacing: calc((1.2 / 500) * 100vw);
                    }

                    .separator-text {
                        font-size: calc((45 / 500) * 100vw);
                    }
                }
    
                .divider {
                    .divider-icon {
                        width: calc((60 / 500) * 100vw);
                    }
                }

                .top-detail {
                    h2 {
                        font-size: calc((32 / 500) * 100vw);
                    }

                    .subtime {
                        font-size: calc((14 / 500) * 100vw);
                    }
                }

                .photo-area {
                    max-width: calc((230 / 500) * 100vw);
                    .main-photo {
                        max-width: calc((192 / 500) * 100vw);
                    }
                }
            }
        }
    }
}

.location-time {
    width: 100%;
    .location-content {
        width: 100%;
        text-align: center;
        font-weight: 300;

        .invitation-text {
            padding: 12% 0;
    
            p {
                line-height: 1.8;
                text-transform: uppercase;
            }
        }
    
        .time {
            h2 {
                font-size: 28px;
                margin: 1%;
                font-weight: 300;
                span {
                    font-size: 26px;
                }
            }
    
            .separator-text {
                text-transform: uppercase;
            }
        }
    
        .venue-details {
            .divider {
                width: 100%;
                padding: 8% 0 7%;
                perspective: 1000px;
    
                .divider-icon {
                    width: 70px;
                    height: auto;
                    object-fit: cover;
                }
            }
    
            p.announcement {
                padding-bottom: 4%;
            }
    
            .location-name {
                font-family: $font-hero;
                font-size: 44px;
                line-height: 1.2;
                letter-spacing: 1.2px;
                margin-bottom: 2%;
                font-weight: 300;
            }

            .address-info {
                font-size: 14px;
            }
    
            .map-link {
                width: 100%;
                padding: 4% 0;
    
                a.map-button {
                    color: $primary-color;
                    text-decoration: none;
                    padding: 1% 19%;
                    border-radius: 15px;
                    border: solid 1px $primary-color;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .location-content {
            .time {
                h2 {
                    font-size: calc((28 / 500) * 100vw);
                    span {
                        font-size: calc((26 / 500) * 100vw);
                    }
                }
            }

            .venue-details {
                .divider {
                    .divider-icon {
                        width: calc((70 / 500) * 100vw);
                    }
                }

                .location-name {
                    font-size: calc((44 / 500) * 100vw);
                    letter-spacing: calc((1.2 / 500) * 100vw);
                }

                .address-info {
                    font-size: calc((14 / 500) * 100vw);
                }
            }
        }
    }
}
