@font-face {
    font-family: "iCielBCOldStyle";
    src: url("../../assets/fonts/ICIELBCOLDSTYLE-REGULAR.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UVNBUCTHU";
    src: url("../../assets/fonts/UVNBUCTHU.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UVNKeChuyen3";
    src: url("../../assets/fonts/UVNKeChuyen3.woff2") format("woff2"),
        url("../../assets/fonts/UVNKeChuyen3.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "scarlet-bradley";
    src: url("../../assets/fonts/1FTV\ VIP\ scarlet-bradley.regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Faugllin-Balseyn";
    src: url("../../assets/fonts/1FTV-VIP-Faugllin-Balseyn.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VN-Chillatos";
    src: url("../../assets/fonts/VN-Chillatos-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lobster-Regular";
    src: url("../../assets/fonts/Lobster-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
